body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
    background-color: azure;
    background-image: '/Users/quirly/Documents/FrontEnd/Udacity_Web_FE_Project_04/projects/evaluate-news-nlp/src/client/images/AdobeStock_274373053.jpeg';
}

section {
    max-width: 800px;
    margin: 50px auto;
}
