body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('AdobeStock_274373053.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    line-height: 1.8;
    align-items: center;
}

main {
    display:flex;
    flex-direction:column;
}

#resultbox{
    width: 100vw;
    height: 40vh;
    margin: 20px auto;
    background-color: cadetblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    border-radius: 10px;
    border: 5px solid blanchedalmond;
    border-bottom: 30px;
    padding-left:10px;
    padding-top: 10px;
    padding-bottom: 30px;
    text-indent: 20px;
}

section{
    align-items: center;
    padding-top: 40px;
}

@media(min-width:760px) {

    #resultbox{
        width: 40vw;
        height: 20vh;
    }
    
}    