form {
    border: 5px solid blanchedalmond;
    background-color: cadetblue;
    width:800px;
    border-radius: 10px;
    padding: 40px;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
    border-radius: 10px;
}

.userInput {
    font-size: 14px;
    width: 100vw;
    height: 40vh;
    margin: 50px auto;
    background-color:cadetblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    border-radius: 10px;
    font-size: 18px;
    border: 5px solid blanchedalmond;
    vertical-align: top;
}

#submit_button {
    height: 80px;
    border-radius: 10px;
    font-size: 16px;
    background-color: aquamarine;
}

#input_text {
    width: 80vw;
    height: 40vh;
}

@media(min-width:760px) {

    .userInput{
        width: 80vw;
        height: 40vh;
        align-items: stretch;
    }
    
}    