form {
    border: 5px solid cadetblue;
    background-color:white;
    width:40vw;
    border-radius: 10px;
    padding: 40px;
    align-items: center;
    justify-content: center;
    position:absolute;
    top: 10vh;
    right: 1vw;
}


.userInput {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 50px auto;
    background-color:lightgray;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

#submit_button {
    height: 7vh;
    width: 100vw;
    border-radius: 10px;
    font-size: 16px;
    background-color: aquamarine;
}

#input_text {
    font-size: 12px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    height: 20vh;
    width: 50vw;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
}

@media(min-width:760px) {
    
    .userInput {
        display: flex;
        flex-direction: column;
        width: 58vw;
        height: 40vh;
        margin: 50px auto;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
    }

    #submit_button {
        height: 7vh;
        width: 50vw;
        border-radius: 10px;
        font-size: 16px;
        background-color: aquamarine;
    }
    
    
}    